.status {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  align-self: center;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.partial {
  background-color: gold;
}

.unattempt {
  background-color: gray;
}

.container {
  display: flex;
  flex-direction: row;
}

.question-name {
  padding-left: 4px;
}
